.container {
  background-image: url('../images/menu-background.png');
  background-size: 170% 100%;
  background-repeat: repeat-y;
  height: 100vh;
}

@media (min-width: 1000px) {
  .container {
    background-size: 100% 100%;
  }
}