@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Tektur:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #333;
  --secondary-color: #61616169;
  --off-screen-color: #a2cad6;
  --light-color: #ffffff;
  --burger-icon-color: #ffffffad;
  --secondary-font-family: 'Tektur', sans-serif;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
}

.block-scroll {
  overflow-y: hidden;
}