.help {
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  margin: 40px 20px 0;
  max-width: 600px;
  padding: 30px;
  border-radius: 30px;
  color: var(--main-color);
}

.help__header {
  text-align: center;
  margin-bottom: 15px;
  font-size: 23px;
  font-family: var(--secondary-font-family);
  text-shadow: var(--header-text-shadow);
  color: var(--main-color);
  text-transform: uppercase;
}

.help__rules-list {
  font-size: 13px;
}

.help__rules-item {
  list-style: none;
  margin-bottom: 10px;
}

.help__rules-item-title {
  font-weight: bold;
}

@media (max-width: 400px) {
  .help {
    margin: 20px 10px;
    padding: 17px;
  }
  .help__rules-list {
    font-size: 11px;
  }
}

@media (min-width: 600px) {
  .help {
    margin: 70px auto;
  }
}

@media (min-width: 1000px) {
  .help {
    max-width: 800px;
    margin: 70px auto;
    padding: 60px;
  }

  .help__header {
    margin-bottom: 25px;
    font-size: 30px;
  }

  .help__rules-list {
    font-size: 15px;
  }

  .help__rules-item {
    margin-bottom: 15px;
  }
}