.highscores {
  background-color: rgba(255, 255, 255, 0.797);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  max-width: 700px;
  margin: 70px auto;
  padding: 30px 0;
  border-radius: 30px;
  color: rgba(52, 51, 51, 0.862);
  font-family: var(--secondary-font-family);
  text-align: center;
}

.highscores__header {
  text-align: center;
  margin-bottom: 25px;
  font-size: 30px;
  text-shadow: 0 0 rgb(0, 0, 0);
  color: rgb(75, 74, 74);
}

.highscores__scores-table .table__header {
  text-shadow: 0 0 rgb(0, 0, 0);
  color: rgb(73, 156, 224);
  margin-bottom: 10px;
  font-size: 22px;
}

.highscores__scores-table .table__list {
  max-width: 400px;
  margin: 0 auto;
}

.highscores__scores-table .table__item {
  display: grid;
  grid-template-rows: 1fr;
  gap: 2px;
  grid-template-columns: 70% 30%;
  margin: 10px 0;
}

.highscores__scores-table .table__user-name {
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 500;
}

.highscores__scores-table .table__user-record {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;

}