.highscores {
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  margin: 40px 20px 0;
  max-width: 600px;
  padding: 30px;
  border-radius: 30px;
  color: var(--main-color);
  text-align: center;
}

.highscores__header {
  margin-bottom: 15px;
  font-size: 23px;
  font-family: var(--secondary-font-family);
  text-shadow: var(--header-text-shadow);
  color: var(--main-color);
  text-transform: uppercase;
}

.highscores__scores-table .table__header {
  text-shadow: var(--header-text-shadow);
  color: var(--table-header-color);
  margin-bottom: 10px;
  font-size: 17px;
}

.highscores__scores-table .table__list {
  max-width: 400px;
  margin: 0 auto;
}

.highscores__scores-table .table__item {
  display: grid;
  grid-template-rows: 1fr;
  gap: 7px;
  grid-template-columns: 10% 60% 30%;
  margin: 10px 0;
  font-size: 15px;
}

.highscores__scores-table .table__user-rank,
.highscores__scores-table .table__user-name,
.highscores__scores-table .table__user-record {
  border: 2px solid var(--background-color);
  border-radius: 5px;
  box-shadow: var(--table-shadow);
}

@media (min-width: 600px) {
  .highscores {
    margin: 70px auto;
  }
}

@media (min-width: 1000px) {
  .highscores {
    max-width: 800px;
    margin: 70px auto;
    padding: 60px;
  }

  .highscores__header {
    margin-bottom: 25px;
    font-size: 30px;
  }

  .highscores__scores-table .table__header {
    font-size: 22px;
  }

  .highscores__scores-table .table__list {
    max-width: 400px;
    margin: 0 auto;
  }
}