.settings {
  margin: 30px auto;
}

.settings__title {
  text-align: center;
  margin: 20px;
  font-size: 23px;
  font-family: var(--secondary-font-family);
  text-shadow: var(--header-text-shadow);
  color: var(--main-color);
}

.settings__birds-list {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  justify-content: center;
}

.settings__birds-item {
  background-color: var(--background-bird-color);
  box-shadow: var(--table-shadow);
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 30px;
}

.settings__bird-img {
  width: 110px;
  transition: all 250ms ease-in;
}

.settings__bird-img:hover {
  width: 120px;
}

.settings__btn {
  width: 80px;
  padding: 3px;
  border-radius: 10px;
  font-family: var(--secondary-font-family);
  font-weight: 600;
  font-size: 12px;
  border: 2px solid var(--main-color);
  cursor: pointer;
  transition: all 200ms ease;
  background-color: var(--light-color);
}

.settings__btn:hover {
  background-color: var(--main-color);
  color: var(--light-color);
}

.settings__btn.active {
  background-color: var(--main-color);
  color: var(--light-color);
}

@media (min-width: 700px) {
  .settings__birds-list {
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }

  .settings__birds-item {
    width: 200px;
    height: 200px;
    padding: 20px;
  }

  .settings__bird-img {
    width: 140px;
  }

  .settings__bird-img:hover {
    width: 155px;
  }

  .settings__btn {
    width: 100px;
    padding: 4px;
    font-size: 14px;
  }
}

@media (min-width: 1000px) {
  .settings {
    margin: 70px auto;
  }

  .settings__title {
    margin-bottom: 40px;
    font-size: 30px;
  }

  .settings__birds-list {
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }

  .settings__birds-item {
    width: 250px;
    height: 250px;
    padding: 20px;
  }

  .settings__bird-img {
    width: 200px;
  }

  .settings__bird-img:hover {
    width: 215px;
  }

  .settings__btn {
    padding: 5px;
    font-size: 15px;
  }
}