<section class="game">
  <div class="game__background"></div>
  <img src="../images/transparent.png" alt="bird-img" class="game__bird" id="bird-1"> 
  <div class="game__message">
    <div class="game__message-title">Get Ready!</div>
    <form class="game__message-form form" id="name-form">
      <input type="text" name="name" placeholder="Enter your name" autocomplete="off" class="form__user-name-input"  required>
    </form>
  </div>
  <div class="game__score">
    <span class="game__score-title"></span>
    <span class="game__score-val"></span>
  </div>
</section>