<header class="header">
  <nav class="header__nav">
    <div class="header__logo-container">
      <a href="index.html" class="header__logo-link">
        <img src="../images/flappy-bird_logo.png" alt="Flappy bird" class="header__logo">
        <img src="../images/bird_icon.png" alt="Flappy bird" class="header__bird-logo">
      </a>
    </div>
    <div class="header__off-screen-menu">
      <div class="header__logo-container">
        <a href="index.html" class="header__logo-link">
          <img src="../images/flappy-bird_logo.png" alt="Flappy bird" class="header__logo">
          <img src="../images/bird_icon.png" alt="Flappy bird" class="header__bird-logo">
        </a>
      </div>
      <div class="header__nav-menu">
        <a class="header__nav-link" id="main-game-btn" href="#">Game</a>
        <a class="header__nav-link" id="settings-btn" href="#">Settings</a>
        <a class="header__nav-link" id="highscores-btn" href="#">Highscores</a>
        <a class="header__nav-link" id="help-btn" href="#">Help</a>
      </div>
    </div>
    <div class="header__burger-menu">
      <div class="header__ham-bar bar-top"></div>
      <div class="header__ham-bar bar-mid"></div>
      <div class="header__ham-bar bar-bottom"></div>
    </div>
    <div class="header__nav-menu">
      <a class="header__nav-link" id="main-game-btn" href="#">Game</a>
      <a class="header__nav-link" id="settings-btn" href="#">Settings</a>
      <a class="header__nav-link" id="highscores-btn" href="#">Highscores</a>
      <a class="header__nav-link" id="help-btn" href="#">Help</a>
    </div>
  </nav>
</header>